# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
*.json
apps/*/migrations/*.py
!__init__.py
settings.ini

# Static from django
static/admin
static/rest_framework